force-app/main/default/flows/Distribution_created_before_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>updateDistribution</name>
        <label>updateDistribution</label>
        <locationX>697</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>$Record.ChartofAccounts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmChartOfAccounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fiscal_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmFiscalYear</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>hasSourceFundTest</name>
        <label>hasSourceFundTest</label>
        <locationX>156</locationX>
        <locationY>439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasSourceFund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_fund__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSourceFund</targetReference>
            </connector>
            <label>getSourceFund</label>
        </rules>
    </decisions>
    <decisions>
        <name>needsUpdateTest</name>
        <label>needsUpdateTest</label>
        <locationX>513</locationX>
        <locationY>443</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>needsUpdate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChartofAccounts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>frmChartOfAccounts</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fiscal_year__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>frmFiscalYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateDistribution</targetReference>
            </connector>
            <label>needsUpdate</label>
        </rules>
    </decisions>
    <formulas>
        <name>frmChartOfAccounts</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Source_fund__c})),
 {!getSourceFund.ChartofAccounts__c},
 null
)</expression>
    </formulas>
    <formulas>
        <name>frmFiscalYear</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Source_fund__c})),
 TEXT({!getSourceFund.Fiscal_year__c}),
 null
)</expression>
    </formulas>
    <interviewLabel>Distribution created - before save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Distribution created - before save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSourceFund</name>
        <label>getSourceFund</label>
        <locationX>367</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>needsUpdateTest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source_fund__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>38</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>hasSourceFundTest</targetReference>
        </connector>
        <object>Distribution__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
