force-app/main/default/flows/Form_Instance_created_or_updated_async.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Prefill form data for a (new) form instance</description>
        <name>Prefill_form_data</name>
        <label>Prefill form data</label>
        <locationX>423</locationX>
        <locationY>505</locationY>
        <actionName>FormDataPrefillFormInstanceInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>formInstanceIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UpdateTargetFields</name>
        <label>UpdateTargetFields</label>
        <locationX>109</locationX>
        <locationY>504</locationY>
        <actionName>FormDataUpdateTargetsInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>formInstanceIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>IsSubmittedOrNewTest</name>
        <label>IsSubmittedOrNewTest</label>
        <locationX>260</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSubmitted_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_submitted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTargetFields</targetReference>
            </connector>
            <label>IsSubmitted</label>
        </rules>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calc_IsNewFormInstance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prefill_form_data</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSubmittedTest</name>
        <label>IsSubmittedTest</label>
        <locationX>968</locationX>
        <locationY>176</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_submitted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MainObjChoice</targetReference>
            </connector>
            <label>IsSubmitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>MainObjChoice</name>
        <label>MainObjChoice</label>
        <locationX>965</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAssessmentFI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAssessSubmit</targetReference>
            </connector>
            <label>IsAssessmentFI</label>
        </rules>
        <rules>
            <name>IsProposalFI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Proposal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPropSubmit</targetReference>
            </connector>
            <label>IsProposalFI</label>
        </rules>
        <rules>
            <name>IsProfileFI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetProfileSubmit</targetReference>
            </connector>
            <label>IsProfileFI</label>
        </rules>
    </decisions>
    <description>Sets Date submitted for Profile, Proposal, or Assessment based on Date submitted in Form Instance. Adds prefill.</description>
    <formulas>
        <name>calc_IsNewFormInstance</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LastModifiedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE( {!$Record.LastModifiedDate})</expression>
    </formulas>
    <interviewLabel>FormInstance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Form Instance created or updated async</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SetAssessSubmit</name>
        <label>SetAssessSubmit</label>
        <locationX>1097</locationX>
        <locationY>456</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assessment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_submitted__c</field>
            <value>
                <elementReference>$Record.Date_submitted__c</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SetProfileSubmit</name>
        <label>SetProfileSubmit</label>
        <locationX>569</locationX>
        <locationY>456</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Profile__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_submitted__c</field>
            <value>
                <elementReference>$Record.Date_submitted__c</elementReference>
            </value>
        </inputAssignments>
        <object>Profile__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SetPropSubmit</name>
        <label>SetPropSubmit</label>
        <locationX>833</locationX>
        <locationY>456</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Proposal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_received__c</field>
            <value>
                <elementReference>$Record.Date_submitted__c</elementReference>
            </value>
        </inputAssignments>
        <object>Proposal__c</object>
    </recordUpdates>
    <start>
        <locationX>478</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>IsSubmittedOrNewTest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Form_Instance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>IsSubmittedTest</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
