force-app/main/default/flows/Milestone_created_before_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>800</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>$Record.GM_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Proposal__r.GM_Data__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>needsUpdateTest</name>
        <label>needsUpdateTest</label>
        <locationX>538</locationX>
        <locationY>119</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>needsUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GM_Data__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Proposal__r.GM_Data__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRecord</targetReference>
            </connector>
            <label>needsUpdate</label>
        </rules>
    </decisions>
    <interviewLabel>Milestone created - before save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Milestone created - before save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>needsUpdateTest</targetReference>
        </connector>
        <object>Milestone__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
